body {
    font-family: 'Inter', 'Roboto',  sans-serif;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    margin:0;
}   
.header{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}
.logo{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}
ul{
    display: flex;
    gap:18px;
    list-style: none;
    color: #E5E7EB;
}
li{
    font-size: 18px;
}


.section-1{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: center;
    flex: 0 0 auto;
    height:500px;
}
.hero-main-txt{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    flex: 0 1 30%;
}
.placeholder{
    display: flex;
    flex: 0 1 35%;
    aspect-ratio: 21/10;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #435161;
}
.hero-second-txt{
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
    padding-top: 10px;
}
button{
    color: #F9FAF8;
    background-color: #3882F6;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    height:44px;
    width: 120px;
    margin-top:17px;
    margin-bottom: 17px;
    border-radius:10px;
}

.random-info{
    text-align: center;
    font-size: 38px;
    color: #1F2937;
    font-weight: 800;
    margin: 60px auto;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:baseline;
    flex: 1 0 50vh;
    gap: 50px;

}
.info{
    max-width:12%;
    text-align:center;
}
.imgframe{
    border: 5px solid #3882F6;
    aspect-ratio: 1/1;
    border-radius: 14%;

}
.subtxt{
    font-size: 18px;
    color: grey;
    font-weight: 500;
    margin-top: 8px;
}

.section-3{
    display: flex;
    background-color: #E5E7EB;
    flex: 1 0 55vh;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}
.quote{
    width: 60%;
    font-style: italic;
    
}
.author{
    text-align: right;
    font-style: normal;
    font-size: 28px;
    font-weight: 600;
    margin: 25px 40px;
}

.section-4{
    display:flex;
    flex: 1 0 40vh;
    justify-content: center;
    align-items: center;
}
.call-to-action{
    display: flex;
    height: 150px;
    width: 1000px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius:20px;
}
.call-to-action .txt{
    font-size: 22px;
    color:#F9FAF8 ;
    font-weight: 600;
    
}
.call-to-action .subtxt{
    font-size: 18px;
    color: #E5E7EB;
}
.call-to-action button{
    border:2px solid white;
}
.footer{
    text-align: center;
    font-size: 18px;
    background-color:#1F2937;
    color:#E5E7EB;
    padding: 40px 0px;
}




